<launch>

    <arg
        name="default_string"
        default='"Danis Tutorial. Make service request to change string. "'
    />

    <node
        name="talker"
        pkg="beginner_tutorials"
        type="talker"
        args="$(arg default_string)"
        output="screen"
    />

    <node
        name="listener"
        pkg="beginner_tutorials"
        type="listener"
        output="screen"
    />

</launch>